/* Estilo global para el cuerpo de la página */
body {
  font-family:  'Playfair Display', serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vh;
}

/* Estilos para el contenedor principal */
.container {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin-top: 10px;
  min-height: 200px; /
}

/* Estilos para el título principal */
h1 {
  color: #FFFFFF;
  font-family:  'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 0px;
}

/* Estilos para el subtítulo */
h4 {
  color: #FFFFFF;
  font-size: 15px;
  font-family:  'Playfair Display', serif;
  border-radius: 0px;
  padding: 5px 10px;
  text-align: center;
}

/* Estilos para las preguntas */
h2 {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  border-radius: 0px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/* Estilos para la categoría de la pregunta */
h3 {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
}

/* Estilos para las categorías específicas */
.category {
  font-family:'Playfair Display';
  font-size: 20px;
  font-weight: bold;
}

/* Estilos para las diferentes categorías de preguntas */
.psicologia { color: #3333cc; }
.religion { color: #99004d; }
.politica { color: #ff5733; }
.desarrollo { color: #9966ff; }
.filosofia { color: #ffcc00; }
.tecnologia { color: #008080; }
.historia { color: #0066cc; }
.economia { color: #b5b800; }
.pareja { color: #d40000; }
.ciencia { color: #4caf50; }
.vivencias { color: #e64a19; }
.miedos { color: #413f3f; }
.amor { color: #ff3399; }
.educacion { color: #3399ff; }
.negocios { color: #336600; }
.etica { color: #993366; }
.sexo { color: #cc33ff; }


/* Estilos para los botones de la página */
button {
  background-color: #000000;
  font-family:  'Playfair Display', serif;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el efecto hover en los botones */
button:hover {
  background-color: #0de914;
  color: #000000;
}



/* Estilo para el contenedor del botón de selección de tema y menú desplegable */
.theme-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilos para el botón de compartir pregunta y enlace */
#shareSelectButton {
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #000000;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Estilo para el botón al pasar el ratón */
#shareSelectButton:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #0300ab;
}

a {
  transition: background-color 0.3s;  /* Transición suave del color de fondo */
}

/* Cambio de color de fondo al pasar el mouse */
a:hover {
  color: #000000;
}


/* Estilo para el botón de selección de tema y para el menú desplegable */
#themeSelectButton, #themeSelect {
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #000000;
  padding: 10px 20px;
  border: 2px solid #000000; /* Cambiado para especificar el tipo de borde */
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px; /* Espacio en la parte superior */
  margin-bottom: 15px; /* Espacio en la parte inferior */
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Estilo para el botón y el menú desplegable al pasar el ratón */
#themeSelectButton:hover, #themeSelect:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #00ff00;
}

/* Estilo para el menú desplegable */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  text-align: center;
}

/* Estilo para los elementos del menú desplegable */
.nav-links li {
  text-align: center;
  padding: 10px;
}

header.hidden {
  transform: translateY(-100%);
}


/* Estilos para el footer */
footer {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: fadeInUp 0.5s ease-out;
  font-size: 10px;
  font-family: 'Playfair Display', serif;
  transition: transform 0.5s ease-out;
}

/* Agregamos una clase para ocultar el footer */
footer.hidden {
  transform: translateY(100%);
}


/* Animación de entrada */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para el logo */
img {
  max-height: 50px; /* Ajusta el tamaño del logo según tus preferencias */
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


nav a {
  text-decoration: none;
  color: #000000; /* Color del texto de los enlaces */
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline; /* Efecto de subrayado al pasar el mouse sobre los enlaces */
}
hr {
  border: 1px solid #000000; /* Puedes ajustar el color de la línea según tu preferencia */
  width: 100%;
  margin: 15px 0; /* Espaciado por encima y por debajo de la línea */
}


/*header*/

header {
  background-color: #ffffff;
  padding: 5px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: fadeInUp 0.5s ease-out;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  margin-right: 5px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

/* Agrega este estilo para los bordes verdes cuando se presiona el logo */
.logo-container.active img {
  border: 2px solid #00ff00; /* Puedes ajustar el color y el ancho del borde */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Oculta el menú por defecto */
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}

.nav-links li {
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .nav-links.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

.nav-links.show {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* Ajusta el fondo del menú desplegable según tu diseño */
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 1;
}
