
/*estilo de la etiqueta body*/
body {
  font-family:  'Playfair Display', serif; /*Tipografia para el body*/
  background-color: #000000; /*Fondo para el body*/
  margin: 0; /*Marge del body*/
  padding: 0; /*Espacio dentro de los elementos del body*/
  display: flex; /*Los elementos de esa caja pueden varias de forma flexible su posicion*/
  flex-direction: column; /*Los elementos estaran apilados*/
  align-items: center; /*Alinear el texto al centro*/
  height: 150vh; /*Largo de pagina*/
}

/* Estilos para el contenedor principal */
.container {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 8px; /*Esquinas redondeaas*/
  width: 90%; /*Esto ocupara el 90% del espacio del contenedor*/
  max-width: 400px; /*Ancho maximo*/
  text-align: center; /*Texto centrado*/
  margin-top: 10px; /*Marge espacio arriba*/
  min-height: 200px; / /*Alura minima del contenedor*/
}

/* Estilos para el título principal */
h1 {
  color: #FFFFFF;
  font-family:  'Playfair Display', serif;
  font-size: 30px; /*Tamaño de fuente*/
  text-align: center;
  letter-spacing: 0px; /*Espacio entre las letras*/
  margin-bottom: 0px; /*Espacio de los margenes del boton*/
}

/*Estilos de pregunta*/
h2 {
  font-size: 25px;
  font-family:'Playfair Display';
  border-radius: 0px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/* Estilos para la categoría de la pregunta */
h3 {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

/* Estilos para el subtítulo */
h4 {
  color: #FFFFFF;
  font-size: 15px;
  font-family:'Raleway', sans-serif;
  border-radius: 0px;
  padding: 5px 10px;
  text-align: center;
}

/* Estilos para las categorías específicas */
.category {
  font-family:'Playfair Display';
  font-size: 20px;
  font-weight: bold;
}

/* Estilos para las diferentes categorías de preguntas */
/*Piscologia elemento, entre las llaves {el diseño}*/
.psicologia { color: #3333cc; } /*Color por palabra y categoria */
.religion { color: #99004d; }
.politica { color: #ff5733; }
.desarrollo { color: #9966ff; }
.filosofia { color: #ffcc00; }
.tecnologia { color: #008080; }
.historia { color: #0066cc; }
.economia { color: #b5b800; }
.pareja { color: #d40000; }
.ciencia { color: #4caf50; }
.vivencias { color: #e64a19; }
.miedos { color: #413f3f; }
.amor { color: #ff3399; }
.educacion { color: #3399ff; }
.negocios { color: #336600; }
.etica { color: #993366; }
.sexo { color: #cc33ff; }


/* Estilos para los botones de la página */
button {
  background-color: #000000;
  font-family:  'Playfair Display', serif;
  font-weight: bold; /*letra mas gruesa*/
  color: #FFFFFF;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;/*Cambiar el cursos a una manito*/
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el efecto hover en los botones */
button:hover {
  background-color: #0de914;
  color: #000000;
}



/* Estilo para el contenedor del botón de selección de tema y menú desplegable */
.theme-selector-container {
  display: flex; /*Haces que el contenedor se pueda ordenar de forma flexible*/
  flex-direction: column; /*Como se van a desplegar, aqui dice que de forma de columna*/
  align-items: center; /*Alinearlos de forma vertical*/
  text-align: center;
}

/* Estilos para el botón de compartir pregunta y enlace */
#shareSelectButton {
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #000000;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Estilo para el botón de compartir al pasar el ratón */
#shareSelectButton:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #0300ab;
}

/*Estilos del link de las preguntas destacadas*/
a {
  transition: background-color 0.3s;  /* Transición suave del color de fondo */
}

/* Cambio de color de fondo al pasar el mouse */
a:hover {
  color: #000000;
}

/* Estilo para el botón de selección de tema y para el menú desplegable */
#themeSelectButton, #themeSelect {
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #000000;
  padding: 10px 20px;
  border: 2px solid #000000; /* Cambiado para especificar el tipo de borde */
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px; /* Espacio en la parte superior */
  margin-bottom: 15px; /* Espacio en la parte inferior */
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Estilo para el botón y el menú desplegable al pasar el ratón */
#themeSelectButton:hover, #themeSelect:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #00ff00;
}

header.hidden {
  transform: translateY(-100%); /*Se movera hacia arriba*/
}

header {
  background-color: #ffffff;
  padding: 5px;
  color: #000000;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  animation: fadeInUp 0.5s ease-out; /*Estilo de animacion para el header*/
  font-size: 15px;
  font-family: 'Playfair Display', serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  max-width: 100%; 
  height: auto; /*Alto automatico*/
  margin-right: 5px;
}

/*Menu*/
.menu-icon {
  font-size: 24px; /*Medidas del icono*/
  cursor: pointer;
}

/*Estilos para el menu de navegacion*/
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Oculta el menú por defecto */
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  text-align: center;
}

/*Estilo para cuando se abra el nav-link o el menu*/
.nav-links.show {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* Ajusta el fondo del menú desplegable según tu diseño */
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Estilo para los elementos del menú desplegable */
.nav-links li {
  text-align: center;
  padding: 10px;
}

/*Ajuste del estilo en pantallas mas pequeñas*/
@media only screen and (max-width: 768px) {
  .nav-links.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}


/* Estilos para el footer */
footer {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: fadeInUp 0.5s ease-out;
  font-size: 10px;
  font-family: 'Playfair Display', serif;
  transition: transform 0.5s ease-out;
}

/* Agregamos una clase para ocultar el footer */
footer.hidden {
  transform: translateY(100%);
}


/* Animación de entrada */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para el logo */
img {
  max-height: 50px; /* Ajusta el tamaño del logo según tus preferencias */
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


nav a {
  text-decoration: none;
  color: #000000; /* Color del texto de los enlaces */
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline; /* Efecto de subrayado al pasar el mouse sobre los enlaces */
}
hr {
  border: 1px solid #000000; /* Puedes ajustar el color de la línea según tu preferencia */
  width: 100%;
  margin: 15px 0; /* Espaciado por encima y por debajo de la línea */
}


/*header*/


/*----------*/

/* Estilos para el botón de respuesta */
#showAnswerBoxButton {
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #000000;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto; /* Alinea a la derecha */
  margin-right: auto; /* Alinea a la izquierda */
}

/* Estilos para el icono de flecha */
#showAnswerBoxButton span {
  margin-right: 5px;
}

#showAnswerBoxButton:active {
  border-color: #00ff00; /* Color verde para los bordes */
}
/* Estilos para la caja de texto de respuesta */
#answerBoxContainer {
  margin-top: 5px;
  width: auto; /* Ancho al 100% */
  margin-left: auto; /* Alinea a la derecha */
  margin-right: auto; /* Alinea a la izquierda */
}

/* Estilos para la caja de texto de respuesta */
#answerBox {
  background-color: #fff;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1.5;
  width: auto; /* Ancho al 100% */
  transition: border-color 0.3s; /* Transición del color del borde */
}

/* Estilos para cambiar el color del borde cuando se escribe algo */
#answerBox:focus {
  border-color: #00ff00; /* Cambia el color del borde al verde cuando la caja está enfocada */
}
