/* Estilo global para el cuerpo de la página */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200vh;
}

/* Estilos para el contenedor principal */
.container {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin-top: 10px;
  min-height: 200px; /
}

/* Estilos para el título principal */
h1 {
  color: #FFFFFF;
  font-family: 'Merriweather', sans-serif;;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 0px;
}

/* Estilos para el subtítulo */
h4 {
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'Merriweather', sans-serif;;
  border-radius: 0px;
  padding: 5px 10px;
  text-align: center;
}

/* Estilos para las preguntas */
h2 {
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Merriweather', sans-serif;;
  border-radius: 0px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/* Estilos para la categoría de la pregunta */
h3 {
  font-size: 18px;
  font-family: 'Merriweather', sans-serif;;
}

/* Estilos para las categorías específicas */
.category {
  font-family: 'Merriweather', sans-serif;;
  font-size: 20px;
  font-weight: bold;
}

/* Estilos para las diferentes categorías de preguntas */
.psicologia { color: #3333cc; }
.religion { color: #99004d; }
.politica { color: #ff5733; }
.desarrollo { color: #9966ff; }
.filosofia { color: #ffcc00; }
.tecnologia { color: #008080; }
.historia { color: #0066cc; }
.economia { color: #b5b800; }
.pareja { color: #d40000; }
.ciencia { color: #4caf50; }
.historias-personales { color: #e64a19; }
.miedos { color: #413f3f; }
.amor { color: #ff3399; }
.educacion { color: #3399ff; }
.negocios { color: #336600; }
.etica { color: #993366; }

/* Estilos para los botones de la página */
button {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el efecto hover en los botones */
button:hover {
  background-color: #0de914;
  color: #000000;
}

/* Estilos para el footer */
footer {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: fadeInUp 0.5s ease-out;
}

/* Animación de entrada */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para el logo */
img {
  max-height: 50px; /* Ajusta el tamaño del logo según tus preferencias */
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


nav a {
  text-decoration: none;
  color: #000000; /* Color del texto de los enlaces */
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline; /* Efecto de subrayado al pasar el mouse sobre los enlaces */
}
hr {
  border: 1px solid #000000; /* Puedes ajustar el color de la línea según tu preferencia */
  width: 100%;
  margin: 15px 0; /* Espaciado por encima y por debajo de la línea */
}