/* Diseño de la etiqueta body*/
body {
    font-family: 'Playfair Display', serif; /*Fuente de todo el doc.  */
    background-color: #eeeded; /* Color de fondo */
    margin: 0; /* Margen de la pagina */
    padding: 0; /* Elimina el relleno predeterminado */
    display: flex; /* Modelo de caja flexible */
    flex-direction: column; /*  Apila los elementos hijso*/
    align-items: center; /*Centra los elementos de forma horizontal */
    min-height: 200vh; /* La altura de la pagina */
}

/* Diseño de selector de clase de .plan*/
.plan {
    background-color: #ffffff; /* Color de fondo de los elementos con clase .plan*/
    padding: 3vw; /* espacio entre los elementos del plan*/
    border-radius: 2vw; /*Radio de los bordes para los elementos de esquinas redondeadas */
    width: 90%; /*Ancho maximo de los elementos del contenedor principal */
    max-width: 90%; /* Ancho maximo de los elementos*/
    text-align: left; /* Alinea texto a la izquierda*/
    margin-top: 5vw; /*espacio superior entre los elementos */
    min-height: auto; /* Altura minima de los elementos*/
    color: #000; /* Color del texto*/ 
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.4);  /* la sombra de los elementos */
    border: 0.2vw solid #000; /* Bordes solidos y ancho y ancho color negro*/
    line-height: 1.6; /*Establece la altura de linea del texto */
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s; /* Cambios de color en el borde */
}

/*Regla media para patallas grandes */
@media (min-width: 768px) {
    .plan {
        max-width: 600px; /* Aumentar el ancho para pantallas grandes */
    }
}

.plan:hover {
    background-color: #ffffff; /* Cambiado a un tono más claro al hacer hover */
    border-color: #0300ab; /* Cambia los bordes del plan*/
}

h1 {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0px;
    margin-top: 20px; /* Aumentado el margen superior para más espacio entre los elementos */
    margin-bottom: 20px; /* Aumentado el margen inferior para más espacio entre los elementos */
}

h2 {
    background-color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #000;
    padding: 15px 20px; /* Aumentado el padding para un aspecto más espaciado */
    border: 2px solid #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px; /* Aumentado el margen superior para más espacio entre los elementos */
    margin-bottom: 20px; /* Aumentado el margen inferior para más espacio entre los elementos */
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    transition: color 0.3s;
}

h5 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 20px;
}

h6 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 20px;
}

h4 {
    font-size: 30px;
    margin-top: 20px; /* Aumentado el margen superior para más espacio entre los elementos */
    margin-bottom: 20px; /* Aumentado el margen inferior para más espacio entre los elementos */
}


 


p strong {
    font-weight: bold;
}

.icono {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

#button_plan {
    background-color: #000;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Añadido transform a la transición */
}

#button_plan:hover {
    background-color: #0300ab;
    color: #ffffff;
    transform: scale(1.05);
}

/* Agrega estilos según tus necesidades */

.plans-container {
    position: relative;
    overflow: hidden;
    max-width: 370px; /* Ancho máximo para mostrar solo un plan a la vez */
    margin: auto; /* Centrar el contenedor */
  }
  
  .plans-slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .plan {
    min-width: 290px; /* Establecer el ancho mínimo para cada plan */
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 95%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }

  /* Estilos opcionales para mejorar la apariencia de la tabla */
  table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; /* Fondo blanco para la tabla */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera para resaltar la tabla */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.payment-container {
    max-width: 100%; /* Ajusta según sea necesario */
    overflow: hidden;
}

.payment-slider {
    display: flex;
    white-space: nowrap;
    animation: slide 25s linear infinite; /* Ajusta la duración según sea necesario */
}

.payment-image {
    width: 100%;
    max-height: 10vh; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Ajusta el modo de ajuste de la imagen */
    margin-right: 10px; /* Espacio entre las imágenes */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Ajusta según la cantidad de imágenes y el espacio entre ellas */
    }
}

.reasons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.reason {
    width: calc(30% - 20px); /* Resta el margen para ajustar la anchura efectiva */
    margin: 10px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.reason:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 2px solid #0300ab;
}

.reason h5 {
    color: #000000;
    font-size: 1.2em;
}

.reason p {
    color: #555;
    text-align: left;
    font-size: 18px;
}


.icon-img {
    margin-right: 350px; /* Espaciado entre el ícono y el texto */
    width: 50px; /* Ajusta el ancho según tus necesidades */
    height: 50px; /* Ajusta la altura según tus necesidades */
    margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
}


/* Agrega este bloque de estilos al final de tu archivo CSS */

.plan-icon {
    width: 30px; /* Ajusta el ancho del icono según tus necesidades */
    height: 30px; /* Ajusta la altura del icono según tus necesidades */
    margin-right: 10px; /* Espacio entre el icono y el texto del plan */
    vertical-align: middle; /* Alinea verticalmente el icono y el texto */
}

/* Agrega este bloque de estilos al final de tu archivo CSS */

/* Estilo para celdas de la fila en hover */
/* Estilo para celdas de la fila en hover */
tr:hover td {
    border-color: #0300ab; /* Cambia el color del borde en hover */
    transition: border-color 0.3s ease; /* Agrega una animación suave a los bordes */
}

/* Estilo para celdas de la columna en hover */
td:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 1;
    z-index: 1;
    background-color: #0300ab; /* Cambia el color del fondo en hover */
    transition: background-color 0.3s ease; /* Agrega una animación suave al fondo */
}

.highlighted-question {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin-top: 20px;
    color: #000;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.highlighted-question h4 {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.highlighted-question-description {
    color: #555;
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
}
.icon-small {
    width: 20px; /* Ajusta el ancho del icono pequeño según tus necesidades */
    height: 20px; /* Ajusta la altura del icono pequeño según tus necesidades */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

.button_plan {
    background-color: #000;
    color: #f2f2f2;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    text-decoration: none; /* Asegura que no haya subrayado en el enlace */
}

.button_plan:hover {
    background-color: #0300ab;
    color: #f2f2f2;
    transform: scale(1.05);
}

.question-heading {
    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer; 
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.question-heading img {
    margin-right: 10px;
}

.question-heading h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #fff;
    margin: 0;
}


.question-heading {
    background-color: #3498db;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.question-heading img {
    margin-right: 10px;
}

.question-heading h2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #000;
    margin: 0;
}

.highlighted-question {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    margin-top: 20px;
    color: #000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.highlighted-question h4 {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 10px;
}


.custom-details {
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.question-heading {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question-heading img {
    margin-right: 10px;
}

.question-heading h2 {
    margin: 0;
    font-size: 18px;
}

.highlighted-question {
    padding: 15px;
}

.highlighted-question h4 {
    color: #333;
    font-size: 16px;
    margin-top: 0;
}

.highlighted-question-description {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.custom-details div {
    margin-top: 10px;
    margin-left: 45px; /* Ajusta este valor según sea necesario */
}

.image-container {
    overflow: hidden;
    max-width: 90%; /* Ajustado para un diseño más amplio */
    margin: 0 auto 10px; /* Centra el contenedor y añade espacio en la parte inferior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sutil sombra para un toque elegante */
    border-radius: 8px; /* Bordes redondeados */
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.image-container {
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.description {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}

.image-container_ejemplo_2 {
    overflow: hidden;
    max-width: 850px;
    margin: 0 auto 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.responsive-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.image-container_ejemplo_2:hover .responsive-image {
    transform: scale(1.1);
}




/*Headerrr*/

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Playfair Display', serif;
}

/* Estilos para el contenedor de navegación */
nav {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw; /* Ancho del viewport */
}

/* Estilos para el logo */
.logo-container img {
    max-width: 100px;
    height: auto;
}

/* Estilos para los enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

/* Estilos para el botón */
.button {
    background-color: #00ff00;
    color: #000;
    padding: 10px 20px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: #005500;
    color: #fff;
    border-color: #005500;
}

.button:active {
    transform: translateY(2px);
}

.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

